<!DOCTYPE html>
<html>
<head>
  <title>Cnes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<nav class="be-red white large-padding">
		<ul class="no-list row center-xs middle-xs">
			<li type="none" class="logo col-md">
				<h1 class="no-margin">
					CNestor
				</h1>
			</li>
			<li type="none" class="col-md">
				<%= link_to "Inicio", root_path %>
			</li>
			<li type="none" class="col-md">
				Diseño
			</li> 
			<li type="none" class="col-md" >
				Programación
			</li>
			<li type="none" class="col-md">
				Tecnologia
			</li>
		</ul>
	</nav>
</header>

<%= yield %>

</body>
</html>
